body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn-modern {
    transition: transform 0.4s;
}

.btn-modern:hover {
    border: none;
    transform: translateY(-5px);
    border-radius: 3px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    background-color: aquamarine;
    color: yellowgreen;
}